GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=airline_rag
POSTGRES_USER=airline_user
POSTGRES_PASSWORD=

QDRANT_HOST=localhost
QDRANT_PORT=6333
QDRANT_COLLECTION=airline_reviews